name: Publish to Buf Schema Registry
on:
  push:
    tags:
      - "*"
    paths:
      - "bolt/**/**.proto"
      - "buf.yaml"
      - "buf.lock"
permissions:
  contents: write
  pull-requests: write
jobs:
  publish:
    name: Publish to Buf Schema Registry
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-action@v1
        with:
          token: ${{ secrets.BUF_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

  proto-versions:
    name: Get Latest Protobuf SDK Versions
    runs-on: ubuntu-latest
    needs: publish
    outputs:
      rust-prost-version: ${{ steps.rust-prost.outputs.version }}
      rust-tonic-version: ${{ steps.rust-tonic.outputs.version }}
      go-protocolbuffers-version: ${{ steps.go-protocolbuffers.outputs.version }}
      go-grpc-version: ${{ steps.go-grpc.outputs.version }}
    steps:
      - uses: bufbuild/buf-action@v1
        with:
          setup_only: true

      - name: Get prost version
        id: rust-prost
        run: |
          echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto --plugin=buf.build/community/neoeinstein-prost:v0.4.0)" >> $GITHUB_OUTPUT

      - name: Get tonic version
        id: rust-tonic
        run: |
          echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto --plugin=buf.build/community/neoeinstein-tonic:v0.4.1)" >> $GITHUB_OUTPUT

      - name: Get protocolbuffers version
        id: go-protocolbuffers
        run: |
          echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto  --plugin=buf.build/protocolbuffers/go:v1.36.10)" >> $GITHUB_OUTPUT

      - name: Get grpc-go version
        id: go-grpc
        run: |
          echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto   --plugin=buf.build/grpc/go:v1.6.0)" >> $GITHUB_OUTPUT

  rust:
    name: Update Rust Protobuf Dependencies in Dependent Repositories
    runs-on: ubuntu-latest
    needs: proto-versions
    strategy:
      matrix:
        include:
          - repository: phi-labs-ltd/sui-outpost
            grpc_path: grpc
          - repository: phi-labs-ltd/cw-outpost-2
            grpc_path: ""
          - repository: phi-labs-ltd/solana-outpost
            grpc_path: grpc
          - repository: phi-labs-ltd/bolt-mm
            grpc_path: ""
          - repository: phi-labs-ltd/bolt-cex-clients
            grpc_path: ""

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          repository: ${{ matrix.repository }}
          token: ${{ secrets.PROTO_DEPENDENCIES_UPDATE_PAT }}
          ref: main

      - name: Update Dependencies
        run: |
          cd ${{ matrix.grpc_path }}
          cargo login --registry buf "Bearer ${{ secrets.BUF_TOKEN }}"
          cargo update philabs_bolt-proto_community_neoeinstein-prost --precise ${{ needs.proto-versions.outputs.rust-prost-version }} -w
          cargo update philabs_bolt-proto_community_neoeinstein-tonic --precise ${{ needs.proto-versions.outputs.rust-tonic-version }} -w

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        continue-on-error: true
        with:
          token: ${{ secrets.PROTO_DEPENDENCIES_UPDATE_PAT }}
          commit-message: Update the protobuf dependencies to latest versions
          branch: bump-proto-version
          title: "chore: Update the protobuf dependencies to latest versions"
          body: Update the protobuf dependencies to latest versions
          delete-branch: true
