name: Buf CI
on:
  push:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
  delete:
permissions:
  contents: write
  pull-requests: write
jobs:
  buf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-action@v1
        with:
          push: false

  prs:
    runs-on: ubuntu-latest
    steps:
      - uses: bufbuild/buf-action@v1
        with:
          setup_only: true
      
      - name: Get prost version
        id: rust-prost
        run: |
          echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto --plugin=buf.build/community/neoeinstein-prost:v0.4.0)" >> $GITHUB_OUTPUT

      - name: Get tonic version
        id: rust-tonic
        run: |
          echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto --plugin=buf.build/community/neoeinstein-tonic:v0.4.1)" >> $GITHUB_OUTPUT

      - name: Get protocolbuffers version
        id: go-protocolbuffers
        run: |
          echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto  --plugin=buf.build/protocolbuffers/go:v1.36.10)" >> $GITHUB_OUTPUT
    
      - name: Get grpc-go version
        id: go-grpc
        run: |
          echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto   --plugin=buf.build/grpc/go:v1.6.0)" >> $GITHUB_OUTPUT

      - name: Output prost and tonic versions
        run: |
          echo "Prost version: ${{ steps.rust-prost.outputs.version }}"
          echo "Tonic version: ${{ steps.rust-tonic.outputs.version }}"
          echo "Go Protocol Buffers version: ${{ steps.go-protocolbuffers.outputs.version }}"
          echo "Go gRPC version: ${{ steps.go-grpc.outputs.version }}"
