name: Buf CI
on:
  push:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
  delete:
permissions:
  contents: write
  pull-requests: write
jobs:
  buf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-action@v1
        with:
          push: false

  prs:
    runs-on: ubuntu-latest
    steps:
      - uses: bufbuild/buf-action@v1
        with:
          setup_only: true
      
      - name: Get prost version
        id: prost
        run: |
          echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto --plugin=buf.build/community/neoeinstein-prost:v0.4.0)" >> $GITHUB_OUTPUT

      - name: Get tonic version
        id: tonic
        run: |
          echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto --plugin=buf.build/community/neoeinstein-tonic:v0.4.1)" >> $GITHUB_OUTPUT

      - name: Output prost and tonic versions
        run: |
          echo "Prost version: ${{ steps.prost.outputs.version }}"
          echo "Tonic version: ${{ steps.tonic.outputs.version }}"
