name: Update Buf dependencies
on:
    push:
    workflow_dispatch:
    workflow_call:
permissions:
    contents: write
    pull-requests: write
jobs:
    proto-versions:
        runs-on: ubuntu-latest
        outputs:
            rust-prost-version: ${{ steps.rust-prost.outputs.version }}
            rust-tonic-version: ${{ steps.rust-tonic.outputs.version }}
            go-protocolbuffers-version: ${{ steps.go-protocolbuffers.outputs.version }}
            go-grpc-version: ${{ steps.go-grpc.outputs.version }}
        steps:
            - uses: bufbuild/buf-action@v1
              with:
                  setup_only: true

            - name: Get prost version
              id: rust-prost
              run: |
                  echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto --plugin=buf.build/community/neoeinstein-prost:v0.4.0)" >> $GITHUB_OUTPUT

            - name: Get tonic version
              id: rust-tonic
              run: |
                  echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto --plugin=buf.build/community/neoeinstein-tonic:v0.4.1)" >> $GITHUB_OUTPUT

            - name: Get protocolbuffers version
              id: go-protocolbuffers
              run: |
                  echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto  --plugin=buf.build/protocolbuffers/go:v1.36.10)" >> $GITHUB_OUTPUT
            
            - name: Get grpc-go version
              id: go-grpc
              run: |
                  echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto   --plugin=buf.build/grpc/go:v1.6.0)" >> $GITHUB_OUTPUT
    rust:
        runs-on: ubuntu-latest
        needs: proto-versions
        strategy:
            matrix:
                include:
                    - repository: philabs-ltd/sui-outpost
                      grpc_path: grpc

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4
              with:
                  repository: ${{ matrix.repository }}
                  token: ${{ secrets.PROTO_DEPENDENCIES_UPDATE_PAT }}
                  ref: main

            - name: Update Dependencies
              run: |
                  cd ${{ matrix.grpc_path }}
                  cargo login --registry buf "Bearer ${{ secrets.BUF_TOKEN }}"
                  cargo update philabs_bolt-proto_community_neoeinstein-prost --precise ${{ needs.proto-versions.outputs.rust-prost-version }} -w
                  cargo update philabs_bolt-proto_community_neoeinstein-tonic --precise ${{ needs.proto-versions.outputs.rust-tonic-version }} -w

            - name: Create Pull Request
              uses: peter-evans/create-pull-request@v7
              with:
                  token: ${{ secrets.PROTO_DEPENDENCIES_UPDATE_PAT }}
                  commit-message: Update the protobuf dependencies to latest versions
                  branch: bump-proto-version
                  title: "chore: Update the protobuf dependencies to latest versions"
                  body: Update the protobuf dependencies to latest versions
                  delete-branch: true
