name: Update Buf dependencies
on:
    push:
    workflow_dispatch:
    workflow_call: 
permissions:
    contents: write
    pull-requests: write
jobs:
    sui-outpost:
        runs-on: ubuntu-latest
        steps:
            - uses: bufbuild/buf-action@v1
              with:
                  setup_only: true

            - name: Get prost version
              id: rust-prost
              run: |
                  echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto --plugin=buf.build/community/neoeinstein-prost:v0.4.0)" >> $GITHUB_OUTPUT

            - name: Get tonic version
              id: rust-tonic
              run: |
                  echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto --plugin=buf.build/community/neoeinstein-tonic:v0.4.1)" >> $GITHUB_OUTPUT

            - name: Output prost and tonic versions
              run: |
                  echo "Prost version: ${{ steps.rust-prost.outputs.version }}"
                  echo "Tonic version: ${{ steps.rust-tonic.outputs.version }}"

            - name: Checkout Repository
              uses: actions/checkout@v4
              with:
                  repository: phi-labs-ltd/sui-outpost
                  token: ${{ secrets.PROTO_DEPENDENCIES_UPDATE_PAT }}
                  ref: main

            - name: Update Dependencies
              run: |
                  cd grpc
                  cargo update philabs_bolt-proto_community_neoeinstein-prost --precise ${{ steps.rust-prost.outputs.version }} -w
                  cargo update philabs_bolt-proto_community_neoeinstein-tonic --precise ${{ steps.rust-tonic.outputs.version }} -w

            - name: Create Pull Request
              uses: peter-evans/create-pull-request@v7
              with:
                  token: ${{ secrets.PROTO_DEPENDENCIES_UPDATE_PAT }}
                  commit-message: Update the protobuf dependencies to latest versions
                  branch: bump-proto-version
                  title: "chore: Update the protobuf dependencies to latest versions"
                  body: Update the protobuf dependencies to latest versions
                  delete-branch: true

    go-prs:
        runs-on: ubuntu-latest
        steps:
            - uses: bufbuild/buf-action@v1
              with:
                  setup_only: true

            - name: Get protocolbuffers version
              id: go-protocolbuffers
              run: |
                  echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto  --plugin=buf.build/protocolbuffers/go:v1.36.10)" >> $GITHUB_OUTPUT

            - name: Get grpc-go version
              id: go-grpc
              run: |
                  echo "version=$(buf registry sdk version --module=buf.build/philabs/bolt-proto   --plugin=buf.build/grpc/go:v1.6.0)" >> $GITHUB_OUTPUT

            - name: Output prost and tonic versions
              run: |
                  echo "Go Protocol Buffers version: ${{ steps.go-protocolbuffers.outputs.version }}"
                  echo "Go gRPC version: ${{ steps.go-grpc.outputs.version }}"
